[Desktop Entry]
Name=NDR562 Command Line Interface
Comment=NDR commandline
Exec=gnome-terminal -e "ndrxxx_command_line.py -i 192.168.0.10 -r ndr562"
Type=Application
Terminal=true
Categories=Applications
Icon=utilities-terminal

